.main-container {
  width: 700px;
  height: 600px;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.spacing {
  margin: 25em 0;
}
